---
import SiteLayout from '../../layouts/SiteLayout.astro';
import { Section, SectionProse } from '@/components/ui/section';
---

<SiteLayout lang="fr" title="À propos – Personal Shopper" description="À propos de nos services">
  <Section>
    <SectionProse>
      <h1>À propos</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel libero at metus pulvinar dictum.</p>
    </SectionProse>
  </Section>
</SiteLayout>
