---
import SiteLayout from '../../layouts/SiteLayout.astro';
import { Section, SectionProse } from '@/components/ui/section';
---

<SiteLayout lang="en" title="About – Personal Shopper" description="About our personal shopper services">
  <Section>
    <SectionProse>
      <h1>About</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel libero at metus pulvinar dictum.</p>
    </SectionProse>
  </Section>
</SiteLayout>
