---
import SiteLayout from '../../layouts/SiteLayout.astro';
import { Section, SectionProse } from '@/components/ui/section';
---

<SiteLayout lang="es" title="Acerca – Personal Shopper" description="Sobre nuestros servicios">
  <Section>
    <SectionProse>
      <h1>Acerca</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel libero at metus pulvinar dictum.</p>
    </SectionProse>
  </Section>
</SiteLayout>
